<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNS_CNPM.Properties.Settings.CNPM_QLNSConnectionString"
            connectionString="Data Source=DESKTOP-JFFALB2\SQLEXPRESS;Initial Catalog=CNPM_QLNS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>